In [20]:
import pandas as pd
import numpy as np

In [21]:
df = pd.read_csv('heart.csv')
df = df.drop_duplicates()
df

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [22]:
df['trtbps'].describe()

count    302.000000
mean     131.602649
std       17.563394
min       94.000000
25%      120.000000
50%      130.000000
75%      140.000000
max      200.000000
Name: trtbps, dtype: float64

In [23]:
df['trtbps']= pd.cut(df['trtbps'], bins=[94,120,129,139,159,200], labels = [0,1,2,3,4])
df

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,3,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,2,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,2,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,0,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,0,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,3,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,0,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,3,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,2,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,2,236,0,0,174,0,0.0,1,1,2,0

In [25]:
df['chol'].describe()

count    302.000000
mean     246.500000
std       51.753489
min      126.000000
25%      211.000000
50%      240.500000
75%      274.750000
max      564.000000
Name: chol, dtype: float64

In [26]:
df['chol']= pd.cut(df['chol'], bins=[0,200,239,564], labels = [0,1,2])
df

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,3,1,1,0,147,0,2.421468,0,0,1,1
1,37,1,2,2,2,0,1,187,0,3.500000,0,0,2,1
2,41,0,1,2,1,0,0,174,0,1.521468,2,0,2,1
3,56,1,1,0,1,0,1,178,0,0.800000,2,0,2,1
4,57,0,0,0,2,0,1,163,1,0.600000,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,3,2,0,1,125,1,0.321468,1,0,3,0
299,45,1,3,0,2,0,1,132,0,1.200000,1,0,3,0
300,68,1,0,3,0,1,1,141,0,3.400000,1,2,3,0
301,57,1,0,2,0,0,1,115,1,1.200000,1,1,3,0
302,57,0,1,2,1,0,0,174,0,0.000000,1,1,2,0

In [27]:
df.duplicated().sum()

0

In [40]:
gen_data = df
k = gen_data[gen_data['restecg'] == 0]

d = k['thalachh']
n = d.values
n.shape

(147,)

In [46]:
n =[]
def data_enhancement(data):  
      
    gen_data = data
    
    for rest_ecg in data['restecg'].unique():
        seasonal_data =  gen_data[gen_data['restecg'] == rest_ecg]
        thalachh_std = seasonal_data['thalachh'].std()
        oldpeak_std = seasonal_data['oldpeak'].std()
        
        for i in gen_data[gen_data['restecg'] == rest_ecg].index:
            # k = gen_data['thalachh'].values[i]
            # print (k.shape)
            n.append(i)
           
            if np.random.randint(2) == 1:
                gen_data['thalachh'].values[i] += thalachh_std/10
    #         else:
    #             gen_data['thalachh'].values[i] -= thalachh_std/10
                
    #         if np.random.randint(2) == 1:
    #             gen_data['oldpeak'].values[i] += oldpeak_std/10
    #         else:
    #             gen_data['oldpeak'].values[i] -= oldpeak_std/10
                
    # return gen_data

#print(df.head(3))
gen = data_enhancement(df)
print(len(n))
#print(gen.head(3) )

302