In [1]:
# Import libraries
import os
import time
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from pandas.plotting import register_matplotlib_converters  #Register pandas formatters and converters with matplotlib.
from pylab import rcParams      # for customizing matplotlib graphs.
sns.set_style("whitegrid")

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import cross_val_predict
from sklearn.metrics import accuracy_score, balanced_accuracy_score, plot_confusion_matrix
from sklearn import set_config
from sklearn.pipeline import make_pipeline
from sklearn.pipeline import Pipeline  
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import MinMaxScaler

In [3]:
from sklearn.tree          import DecisionTreeClassifier
from sklearn.ensemble      import RandomForestClassifier
from sklearn.ensemble      import ExtraTreesClassifier
from sklearn.ensemble      import AdaBoostClassifier
from sklearn.ensemble      import GradientBoostingClassifier
from sklearn.experimental  import enable_hist_gradient_boosting # Necesary for HistGradientBoostingClassifier
from sklearn.ensemble      import HistGradientBoostingClassifier
from xgboost               import XGBClassifier
from lightgbm              import LGBMClassifier
from catboost              import CatBoostClassifier
from sklearn.neighbors     import KNeighborsClassifier
from sklearn.linear_model  import LogisticRegression
from sklearn.svm           import SVC

/Users/felixschekerka/opt/anaconda3/envs/strive/lib/python3.9/site-packages/sklearn/experimental/enable_hist_gradient_boosting.py:16: UserWarning: Since version 1.0, it is not needed to import enable_hist_gradient_boosting anymore. HistGradientBoostingClassifier and HistGradientBoostingRegressor are now stable and can be normally imported from sklearn.ensemble.
  warnings.warn(

In [4]:
df = pd.read_csv('heart.csv')
df.drop_duplicates(inplace=True)
df.reset_index(drop=True, inplace = True)

In [5]:
## chainging numerical col 'chol' into categorical column:
df['chol']= pd.cut(df['chol'], bins=[0,200,239,564], labels = [0,1,2]) #0-High, 1-Borderline high, 2-High
df['trtbps']= pd.cut(df['trtbps'], bins=[90,120,139,200], labels = [0,1,2])
df['age'] = pd.cut(df['age'], bins=[25,53,80], labels = [0, 1])
df = df.astype({'trtbps':'float64','chol':'float64', 'age':'float64'})

In [6]:
df['chol_bps'] = df['chol']+df['trtbps']
df.drop(['chol','trtbps'], axis=1, inplace=True)
df

,age,sex,cp,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output,chol_bps
0,1.0,1,3,1,0,150,0,2.3,0,0,1,1,3.0
1,0.0,1,2,0,1,187,0,3.5,0,0,2,1,3.0
2,0.0,0,1,0,0,172,0,1.4,2,0,2,1,2.0
3,1.0,1,1,0,1,178,0,0.8,2,0,2,1,1.0
4,1.0,0,0,0,1,163,1,0.6,2,0,2,1,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
297,1.0,0,0,0,1,123,1,0.2,1,0,3,0,4.0
298,0.0,1,3,0,1,132,0,1.2,1,0,3,0,2.0
299,1.0,1,0,1,1,141,0,3.4,1,2,3,0,2.0
300,1.0,1,0,0,1,115,1,1.2,1,1,3,0,1.0
301,1.0,0,1,0,0,174,0,0.0,1,1,2,0,2.0

In [7]:
# data agumentation
new_df = df.copy()
def get_data(data):
    gen_data = data
    for restecg_values in data['restecg'].unique():
        new_data = gen_data[gen_data['restecg']== restecg_values]
        thalachh_std = new_data['thalachh'].std()
        oldpeak_std = new_data['oldpeak'].std()

        for i in gen_data[gen_data['restecg']== restecg_values].index:
            if np.random.randint(2)==1:
                gen_data['thalachh'].values[i] += thalachh_std/10   
            else:
                gen_data['thalachh'].values[i] -= thalachh_std/10
            if np.random.randint(2)==1:
                gen_data['oldpeak'].values[i] += oldpeak_std/10
            else:
                gen_data['oldpeak'].values[i] -= oldpeak_std/10
    return gen_data
print(df.head())  
std_data = get_data(new_df)
std_data.head()

   age  sex  cp  fbs  restecg  thalachh  exng  oldpeak  slp  caa  thall  \
0  1.0    1   3    1        0       150     0      2.3    0    0      1
1  0.0    1   2    0        1       187     0      3.5    0    0      2
2  0.0    0   1    0        0       172     0      1.4    2    0      2
3  1.0    1   1    0        1       178     0      0.8    2    0      2
4  1.0    0   0    0        1       163     1      0.6    2    0      2

   output  chol_bps
0       1       3.0
1       1       3.0
2       1       2.0
3       1       1.0
4       1       2.0

,age,sex,cp,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output,chol_bps
0,1.0,1,3,1,0,152,0,2.178532,0,0,1,1,3.0
1,0.0,1,2,0,1,189,0,3.394439,0,0,2,1,3.0
2,0.0,0,1,0,0,174,0,1.521468,2,0,2,1,2.0
3,1.0,1,1,0,1,175,0,0.905561,2,0,2,1,1.0
4,1.0,0,0,0,1,165,1,0.494439,2,0,2,1,2.0

In [8]:
x= df.drop(['output'], axis=1)
y = df.output
cat_fe = [ 'sex','cp','fbs','restecg','exng','slp','caa','thall','age']
num_fe = ['thalachh','oldpeak','chol_bps']

x_train, x_test, y_train,y_test = train_test_split(x,y, test_size=0.2, random_state=0, stratify=y)

extra_sample = std_data.sample(std_data.shape[0]//3)
x_train = pd.concat([x_train, extra_sample.drop(['output'], axis=1)])
y_train = pd.concat([y_train, extra_sample['output']])

In [9]:
s_col = ['oldpeak', 'chol_bps']
scaler = MinMaxScaler()
for d in s_col:
    train_array = x_train[d].to_numpy()
    test_array = x_test[d].to_numpy()
    train_array = train_array.reshape(-1,1)
    test_array = test_array.reshape(-1,1)

    scaler.fit(train_array)
    x_train[d] = scaler.transform(train_array)
    x_test[d] = scaler.transform(test_array)

x_train.head()

,age,sex,cp,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,chol_bps
268,1.0,1,0,1,0,103,1,0.300879,0,0,3,0.75
190,1.0,1,0,0,0,131,1,0.405747,1,3,3,0.50
15,0.0,0,2,0,1,158,0,0.300879,1,0,2,0.25
223,1.0,1,0,0,1,126,1,0.510615,1,1,3,0.25
249,0.0,1,0,0,1,122,1,0.755308,1,3,3,1.00

In [10]:
num_4_classifiers = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='constant', fill_value=-9999))
])
cat_4_classifiers = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='constant', fill_value=-9999))
])
classifier_prepro = ColumnTransformer(transformers=[
    ('num', num_4_classifiers, num_fe),
    ('cat',cat_4_classifiers, cat_fe)
], remainder='drop')

In [11]:
tree_classifiers = {
  "KNN": KNeighborsClassifier(),
  "svm": SVC(kernel='linear', C=2.0),
  "Logistic": LogisticRegression(C= 0.5, penalty= 'l1', solver= 'liblinear'),
  "Decision Tree": DecisionTreeClassifier(),
  "Extra Trees": ExtraTreesClassifier(n_estimators=100),
  "Random Forest": RandomForestClassifier(n_estimators=100),
  "AdaBoost": AdaBoostClassifier(n_estimators=100),
  "Skl GBM": GradientBoostingClassifier(n_estimators=100),
  "Skl HistGBM": HistGradientBoostingClassifier(max_iter=100),
  "XGBoost": XGBClassifier(n_estimators=100),
  "LightGBM": LGBMClassifier(n_estimators=100),
  "CatBoost":  CatBoostClassifier(depth= 9, iterations= 80, learning_rate= 0.04),
}
tree_classifiers= {name:make_pipeline(classifier_prepro, model) for name, model in tree_classifiers.items()}
tree_classifiers["AdaBoost"]

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(transformers=[('num',
                                                  Pipeline(steps=[('imputer',
                                                                   SimpleImputer(fill_value=-9999,
                                                                                 strategy='constant'))]),
                                                  ['thalachh', 'oldpeak',
                                                   'chol_bps']),
                                                 ('cat',
                                                  Pipeline(steps=[('imputer',
                                                                   SimpleImputer(fill_value=-9999,
                                                                                 strategy='constant'))]),
                                                  ['sex', 'cp', 'fbs',
                                                   'restecg', 'exng', 'slp',
                                                   'caa', 'thall', 'age'])])),
                ('adaboostclassifier', AdaBoostClassifier(n_estimators=100))])

In [12]:
results = pd.DataFrame({'Model': [], 'Accuracy': [], 'Bal Acc.': [], 'Time': []})

for model_name, model in tree_classifiers.items():
    start_time = time.time()
    model.fit(x_train, y_train)
    total_time = time.time()-start_time
    pred = model.predict(x_test)
    results = results.append({"Model":    model_name,
                            "Accuracy": accuracy_score(y_test, pred)*100,
                            "Bal Acc.": balanced_accuracy_score(y_test, pred)*100,
                            "Time":     total_time},
                            ignore_index=True)

results_ord = results.sort_values(by=['Accuracy'], ascending=False, ignore_index=True)
results_ord.index += 1 
results_ord.style.bar(subset=['Accuracy', 'Bal Acc.'], vmin=0, vmax=100, color='#5fba7d')

/Users/felixschekerka/opt/anaconda3/envs/strive/lib/python3.9/site-packages/xgboost/sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[07:35:53] WARNING: /Users/runner/miniforge3/conda-bld/xgboost-split_1645117948562/work/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
0:	learn: 0.6834848	total: 54.5ms	remaining: 4.31s
1:	learn: 0.6741182	total: 55.8ms	remaining: 2.17s
2:	learn: 0.6626619	total: 57.1ms	remaining: 1.47s
3:	learn: 0.6532238	total: 58.1ms	remaining: 1.1s
4:	learn: 0.6457756	total: 60ms	remaining: 900ms
5:	learn: 0.6378859	total: 61.3ms	remaining: 756ms
6:	learn: 0.6289270	total: 62.6ms	remaining: 653ms
7:	learn: 0.6220203	total: 64ms	remaining: 576ms
8:	learn: 0.6156977	total: 65.7ms	remaining: 519ms
9:	learn: 0.6088227	total: 67.2ms	remaining: 470ms
10:	learn: 0.6004155	total: 68.5ms	remaining: 429ms
11:	learn: 0.5922462	total: 69.7ms	remaining: 395ms
12:	learn: 0.5836898	total: 71.1ms	remaining: 366ms
13:	learn: 0.5745324	total: 71.5ms	remaining: 337ms
14:	learn: 0.5637276	total: 72.1ms	remaining: 312ms
15:	learn: 0.5543219	total: 72.5ms	remaining: 290ms
16:	learn: 0.5480913	total: 74.1ms	remaining: 275ms
17:	learn: 0.5420255	total: 75.4ms	remaining: 260ms
18:	learn: 0.5350524	total: 76.7ms	remaining: 246ms
19:	learn: 0.5295905	total: 78ms	remaining: 234ms
20:	learn: 0.5227344	total: 78.6ms	remaining: 221ms
21:	learn: 0.5147786	total: 79.2ms	remaining: 209ms
22:	learn: 0.5104911	total: 80.5ms	remaining: 200ms
23:	learn: 0.5053431	total: 81.8ms	remaining: 191ms
24:	learn: 0.4996065	total: 82.7ms	remaining: 182ms
25:	learn: 0.4948419	total: 84.1ms	remaining: 175ms
26:	learn: 0.4903954	total: 85.6ms	remaining: 168ms
27:	learn: 0.4851392	total: 87.4ms	remaining: 162ms
28:	learn: 0.4802094	total: 89ms	remaining: 157ms
29:	learn: 0.4738122	total: 90ms	remaining: 150ms
30:	learn: 0.4695426	total: 91.3ms	remaining: 144ms
31:	learn: 0.4635715	total: 91.8ms	remaining: 138ms
32:	learn: 0.4597344	total: 93.2ms	remaining: 133ms
33:	learn: 0.4561097	total: 94.5ms	remaining: 128ms
34:	learn: 0.4499807	total: 95ms	remaining: 122ms
35:	learn: 0.4451314	total: 95.7ms	remaining: 117ms
36:	learn: 0.4418667	total: 97.2ms	remaining: 113ms
37:	learn: 0.4381714	total: 99ms	remaining: 109ms
38:	learn: 0.4345561	total: 101ms	remaining: 106ms
39:	learn: 0.4312781	total: 104ms	remaining: 104ms
40:	learn: 0.4271175	total: 105ms	remaining: 100ms
41:	learn: 0.4240162	total: 107ms	remaining: 97ms
42:	learn: 0.4202061	total: 109ms	remaining: 93.5ms
43:	learn: 0.4167743	total: 110ms	remaining: 90ms
44:	learn: 0.4136977	total: 111ms	remaining: 86.7ms
45:	learn: 0.4095459	total: 113ms	remaining: 83.5ms
46:	learn: 0.4068740	total: 114ms	remaining: 80.3ms
47:	learn: 0.4025502	total: 115ms	remaining: 76.7ms
48:	learn: 0.3995248	total: 117ms	remaining: 74ms
49:	learn: 0.3965521	total: 119ms	remaining: 71.2ms
50:	learn: 0.3921553	total: 119ms	remaining: 67.7ms
51:	learn: 0.3892439	total: 121ms	remaining: 65ms
52:	learn: 0.3852862	total: 121ms	remaining: 61.7ms
53:	learn: 0.3827188	total: 123ms	remaining: 59ms
54:	learn: 0.3793436	total: 124ms	remaining: 56.4ms
55:	learn: 0.3763298	total: 125ms	remaining: 53.8ms
56:	learn: 0.3740759	total: 127ms	remaining: 51.2ms
57:	learn: 0.3719156	total: 128ms	remaining: 48.6ms
58:	learn: 0.3694304	total: 130ms	remaining: 46.1ms
59:	learn: 0.3665655	total: 131ms	remaining: 43.8ms
60:	learn: 0.3639867	total: 133ms	remaining: 41.4ms
61:	learn: 0.3614542	total: 134ms	remaining: 39ms
62:	learn: 0.3591161	total: 136ms	remaining: 36.7ms
63:	learn: 0.3571731	total: 137ms	remaining: 34.3ms
64:	learn: 0.3549574	total: 139ms	remaining: 32ms
65:	learn: 0.3517548	total: 139ms	remaining: 29.6ms
66:	learn: 0.3493409	total: 141ms	remaining: 27.3ms
67:	learn: 0.3471418	total: 142ms	remaining: 25.1ms
68:	learn: 0.3446387	total: 143ms	remaining: 22.9ms
69:	learn: 0.3425019	total: 145ms	remaining: 20.7ms
70:	learn: 0.3400421	total: 147ms	remaining: 18.6ms
71:	learn: 0.3374155	total: 148ms	remaining: 16.5ms
72:	learn: 0.3349474	total: 149ms	remaining: 14.3ms
73:	learn: 0.3329027	total: 151ms	remaining: 12.2ms
74:	learn: 0.3308993	total: 152ms	remaining: 10.1ms
75:	learn: 0.3287236	total: 154ms	remaining: 8.09ms
76:	learn: 0.3271238	total: 155ms	remaining: 6.04ms
77:	learn: 0.3252117	total: 157ms	remaining: 4.01ms
78:	learn: 0.3232004	total: 158ms	remaining: 2ms
79:	learn: 0.3212828	total: 160ms	remaining: 0us